{% extends 'app/base.html' %}

{% block content %}
<div>
    <form method="post" enctype="multipart/form-data" action="{% url 'addNewProduct' %}">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="title" required> <br>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="text" class="form-control" name="image" id="image" required> <br>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" name="description" id="description" required></textarea> <br>
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" name="price" id="price" required> <br>
        </div>

        <button type="submit" class="btn btn-primary" style="background-color: rgba(26, 178, 26, 0.833);">Add New Product to Your Store</button>
    </form>
</div>
{% endblock content %}
