{% extends 'app/base.html' %}

{% block content %}
<div class="container py-5 bg-light">
    <h2 class="text-center mb-4">User experiences:</h2><br>
    <div class="row">
        <div class="col-md-4">
            <blockquote class="blockquote text-center">
                <p class="mb-0">"Great service and large amount of stores!"</p><br>
                <footer class="blockquote-footer">Nina from Nijemci</footer>
            </blockquote>
        </div>
        <div class="col-md-4">
            <blockquote class="blockquote text-center">
                <p class="mb-0">"Easy to use and great offers."</p><br>
                <footer class="blockquote-footer">Luka from Vinkovci</footer>
            </blockquote>
        </div>
        <div class="col-md-4">
            <blockquote class="blockquote text-center">
                <p class="mb-0">"I'll definitely use this again!"</p><br>
                <footer class="blockquote-footer">Mia from Vinkovci</footer>
            </blockquote>
        </div>
    </div>
</div>

{% endblock content %}