{% extends 'app/base.html' %}

{% block content %}
    <h1>Svi proizvodi</h1>
    <div>
        {% for product in products %}
            <div>
                <h2>{{ product.id }}: {{ product.title }}</h2>
                <img src="{{ product.image }}" alt="{{ product.title }}" style="width: 250px">
                <p>{{ product.description }}</p>
                <p>Cijena: {{ product.price }}</p>
                <form action="{% url 'remove_product' product.id %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Ukloni proizvod iz ponude</button>
                </form>
            </div>
        {% empty %}
            <p>Nema proizvoda za prikaz.</p>
        {% endfor %}
    </div>
{% endblock content %}