{% extends 'app/base.html' %}

{% block content %}
    <h1>Svi proizvodi</h1>
    <div>
        {% for product in products %}
            <div>
                <h2>{{ product.id }}: {{ product.title }}</h2>
                <img src="{{ product.image }}" alt="{{ product.title }}" style="width: 250px">
                <p>{{ product.description }}</p>
                <p>Cijena: {{ product.price }}</p>
            </div>
        {% empty %}
            <p>Nema proizvoda za prikaz.</p>
        {% endfor %}
    </div>
{% endblock content %}