{% extends 'app/base.html' %}

{% block content %}
    <h1>Popis trgovina</h1>
    <p>Odaberite trgovinu kako biste pregledali njezin asortiman proizvoda.</p>
    <div>
        {% for vendor in vendors %}
            <form action="{% url 'shop_detail' vendor.id %}" method="GET" style="display:inline;">
                <button type="submit" class="btn btn-primary">
                    {{ vendor.name }}
                </button>
            </form>
            <br>
        {% endfor %}
    </div>
{% endblock content %}
